.App {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.search-form { 
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar { 
  width: 50%;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
}

.search-button {
  background-color: rgb(54, 197, 178);
  border: none;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
  padding: 12px 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}